# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [27]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [28]:
pokemon_data = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

### Step 3. Assign it to a variable called pokemon

In [29]:
pokemon = pd.DataFrame(pokemon_data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [30]:
pokemon = pokemon.loc[:,['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [31]:
pokemon['place'] = pd.Series(np.random.randint(1,10,4))
pokemon

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes      2
1  Charmander   fire  39  Charmeleon      no      3
2    Squirtle  water  44   Wartortle     yes      2
3    Caterpie    bug  45     Metapod      no      4

### Step 6. Present the type of each column

In [32]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      int32
dtypes: int32(1), int64(1), object(4)
memory usage: 308.0+ bytes

### BONUS: Create your own question and answer it.

ah lets see !
#### say the place column actually shows the island number on which these pokemons are mostly found. Add prefix 'Island_' to each island number.

In [33]:
def prefix_adder(el):
    return f"Island_{el}"
pokemon['place'] = pokemon['place'].apply(prefix_adder)
pokemon

         name   type  hp   evolution pokedex     place
0   Bulbasaur  grass  45     Ivysaur     yes  Island_2
1  Charmander   fire  39  Charmeleon      no  Island_3
2    Squirtle  water  44   Wartortle     yes  Island_2
3    Caterpie    bug  45     Metapod      no  Island_4