# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [3]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Step 4. Create columns for the dataset

In [4]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns=['sepal_length','sepal_width','petal_length','petal_width','class']
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

### Step 5.  Is there any missing value in the dataframe?

In [12]:
iris[iris.isna()].count()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [ ]:
iris.iloc[10:30,:] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [19]:
iris = iris.fillna(1)

### Step 8. Now let's delete the column class

In [22]:
iris = iris.drop(['class'],axis="columns")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### Step 9.  Set the first 3 rows as NaN

In [23]:
iris.iloc[:4,:] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           NaN          NaN           NaN          NaN
4           5.0          3.6           1.4          0.2

### Step 10.  Delete the rows that have NaN

In [25]:
iris = iris.dropna()
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2

### Step 11. Reset the index so it begins with 0 again

In [27]:
iris = iris.reset_index(drop=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.0          3.6           1.4          0.2
1           5.4          3.9           1.7          0.4
2           4.6          3.4           1.4          0.3
3           5.0          3.4           1.5          0.2
4           4.4          2.9           1.4          0.2

### BONUS: Create your own question and answer it.

#### create sepal_area and petal_area columns >_<

In [29]:
iris['sepal_area'] = iris['sepal_length'] * iris['sepal_width']
iris['petal_area'] = iris['petal_length'] * iris['petal_width']
iris

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.0,3.6,1.4,0.2,18.00,0.28
1,5.4,3.9,1.7,0.4,21.06,0.68
2,4.6,3.4,1.4,0.3,15.64,0.42
3,5.0,3.4,1.5,0.2,17.00,0.30
4,4.4,2.9,1.4,0.2,12.76,0.28
...,...,...,...,...,...,...
141,6.7,3.0,5.2,2.3,20.10,11.96
142,6.3,2.5,5.0,1.9,15.75,9.50
143,6.5,3.0,5.2,2.0,19.50,10.40
144,6.2,3.4,5.4,2.3,21.08,12.42
145,5.9,3.0,5.1,1.8,17.70,9.18